.header {
    background-color: #fff666;
    padding:1em;
    text-align: center;
    font-size: 14px;
}
.wrapper {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1em;
}
.wrapper > div {
    background: gainsboro;
}

.container {
    width: 100%;
    display: grid;
    font-size: 12px;
    line-height: 16px;
    background: gainsboro;
    grid-gap: 4px;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-flow: dense;
}

.container .item {
    background: rgb(235, 235, 235);
    padding-left: 4px;
    padding-right: 4px;
}

.host {
    background: rgb(192, 192, 192);
    border: solid black 2px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.name {    
    grid-column:1;
    grid-row:1/3;
    padding:1em;
}
.lobby {
    grid-column:1;
    grid-row:3/5;
    padding:1em;
}
.score {
    grid-column:3;
    grid-row:1;
    padding: 1em;
}
.consolebox {
    grid-column: 3;
    grid-row:2/5;
    padding: 1em;
    font-weight: 800;

    /* this itself is a container */
    display: grid; 
    grid-gap: .5em;
}
.console {
    background-color: ghostwhite;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding: .5em;
    width: auto;
    height: 325px;
    overflow: auto;

    /* this itself is a container */
    display: grid; 
    align-content: start;
    align-items: start;
    justify-items: start;
}
.console .item {
    width: auto;
    height: minmax(20px, auto);
    padding: 3px;
}
.game {
    grid-row:1/5;
    grid-column:2;
    padding:1em;
    display: grid;
    grid-template-rows: 40px;
    justify-content: center;
    text-align: center;
}
.wfp {
    grid-row: 1;
}
.btn {
    grid-row: 2;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #fff666;
    padding: 5px;
    border: black 2px solid;
    border-radius: 7px;
}

#game_status {
    padding: 3px; 
    color: blue;
}
#disp_name {
    font-size: 24px; 
    font-weight: 800;
}
#lobby_name {
    font-size: 24px;
    font-weight: 800;
}
#score {
    font-size: 18px;
    font-weight: 800;
}